.vscode/**
.vscode-test/**
src/**
node_modules/**
.ort/**
.stash*/**
.git/**
docs/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
.eslintrc.json
.gitignore
package-lock.json
CHANGELOG.md
.github/**
**/.DS_Store
